
/* i want to make "guess the word" responsive and center on the image. main goal is to make it over the image in a banner 
  .bottom-left {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    left: 80px;
    font-size: 15px;
  } */
/* button wont line up with text box */
/* .container { 
  background-color: grey;
}*/

.box {
    background-image: url(./Images/darksky.jpg);
    /* margin: 20px; */
    padding: 20px;
}

.jumbotron {
  background-color: #bdbdbd;

}
  .btn {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
  }

  /* .container { 
    display: flex;
    justify-content: flex-start;
  }*/

  h5 {
    display: flex;
    align-items: center;
  }

.text {
  background: rgb(0, 0, 0, 0.7);
  width: 100%;
  padding: 20px 40px;
  color: white;
}

/* this didnt work but too scared to delete
 .card-header, .card-body { 
  display: flex;
    justify-content: center;
}*/

 .container-2 { 
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

.container-3 {
  display: flex;
  justify-content: flex-end;
}

.imgleft {
  display: flex;
  justify-content: flex-start;
}

.imgright {
  display: flex;
  justify-content: flex-end;
}

.footer {
  background: #bdbdbd;
  height: 50px;
  
}

.banner {
  position: absolute;
  background: #bdbdbd;
  width: 100%;
  top: 75%;
}
.img-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  color: white;
  width: 200px;

}

